<div class="form-box">
  <div class="details">
    <h3>Contact Information</h3>
    <p class="contact-icons">
      <!-- insert images of small icons here -->
      "+91 8448440771"
    </p>
    <p>
      For Business Enquiry<br />
      hi@loconav.com
    </p>
    <p>
      For Support<br />
      support@loconav.com
    </p>
    <p>
      Global Office Address<br />
      355 Bryant Street, Suite 403,
      San Francisco, CA 94107
       <br />
      B-13/14, LocoNav ThinkValley, Sector 32,
      Gurugram, Haryana 122003
    </p>
  </div>
</div>

